<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>fileTypes</key>
		<array>
			<string>twappid</string>
			<string>twappidoptions</string>
			<string>twapp</string>
			<string>twschema</string>
			<string>twbuildoptions</string>
			<string>twbuildconfig</string>
			<string>twtoolconfig</string>
			<string>twlayerconfig</string>
			<string>twproduct</string>
			<string>twtest</string>
		</array>
		<key>name</key>
		<string>TWAppIDLang</string>
		<key>patterns</key>
		<array>
			<dict>
				<key>include</key>
				<string>#comments</string>
			</dict>
			<dict>
				<key>include</key>
				<string>#includefile</string>
			</dict>
			<dict>
				<key>include</key>
				<string>#twappidmainenum</string>
			</dict>
			<dict>
				<key>include</key>
				<string>#twappidsubenum</string>
			</dict>
			<dict>
				<key>include</key>
				<string>#twapisubenums</string>
			</dict>
			<dict>
				<key>include</key>
				<string>#twschemasubenums</string>
			</dict>
			<dict>
				<key>include</key>
				<string>#twschemakeywords</string>
			</dict>
			<dict>
				<key>include</key>
				<string>#twapplayer</string>
			</dict>
			<dict>
				<key>include</key>
				<string>#twappconstants</string>
			</dict>
			<dict>
				<key>include</key>
				<string>#twappfunctions</string>
			</dict>
			<dict>
				<key>include</key>
				<string>#twproducts</string>
			</dict>
			<dict>
				<key>include</key>
				<string>#twappkeywords</string>
			</dict>
			<dict>
				<key>include</key>
				<string>#twlayerkeywords</string>
			</dict>
			<dict>
				<key>include</key>
				<string>#twappidoptionskeywords</string>
			</dict>
			<dict>
				<key>include</key>
				<string>#twbuildoptions</string>
			</dict>
		</array>
		<key>repository</key>
		<dict>
			<key>comments</key>
			<dict>
				<key>patterns</key>
				<array>
					<dict>
						<key>captures</key>
						<dict>
							<key>1</key>
							<dict>
								<key>name</key>
								<string>meta.toc-list.banner.block.c</string>
							</dict>
						</dict>
						<key>match</key>
						<string>^/\* =(\s*.*?)\s*= \*/$\n?</string>
						<key>name</key>
						<string>comment.block.c</string>
					</dict>
					<dict>
						<key>begin</key>
						<string>/\*</string>
						<key>beginCaptures</key>
						<dict>
							<key>0</key>
							<dict>
								<key>name</key>
								<string>punctuation.definition.comment.begin.c</string>
							</dict>
						</dict>
						<key>end</key>
						<string>\*/</string>
						<key>endCaptures</key>
						<dict>
							<key>0</key>
							<dict>
								<key>name</key>
								<string>punctuation.definition.comment.end.c</string>
							</dict>
						</dict>
						<key>name</key>
						<string>comment.block.c</string>
					</dict>
					<dict>
						<key>match</key>
						<string>\*/.*\n</string>
						<key>name</key>
						<string>invalid.illegal.stray-comment-end.c</string>
					</dict>
					<dict>
						<key>captures</key>
						<dict>
							<key>1</key>
							<dict>
								<key>name</key>
								<string>meta.toc-list.banner.line.c</string>
							</dict>
						</dict>
						<key>match</key>
						<string>^// =(\s*.*?)\s*=\s*$\n?</string>
						<key>name</key>
						<string>comment.line.banner.c++</string>
					</dict>
					<dict>
						<key>begin</key>
						<string>(^[ \t]+)?(?=//)</string>
						<key>beginCaptures</key>
						<dict>
							<key>1</key>
							<dict>
								<key>name</key>
								<string>punctuation.whitespace.comment.leading.c++</string>
							</dict>
						</dict>
						<key>end</key>
						<string>(?!\G)</string>
						<key>patterns</key>
						<array>
							<dict>
								<key>begin</key>
								<string>//</string>
								<key>beginCaptures</key>
								<dict>
									<key>0</key>
									<dict>
										<key>name</key>
										<string>punctuation.definition.comment.c++</string>
									</dict>
								</dict>
								<key>end</key>
								<string>\n</string>
								<key>name</key>
								<string>comment.line.double-slash.c++</string>
								<key>patterns</key>
								<array>
									<dict>
										<key>match</key>
										<string>(?&gt;\\\s*\n)</string>
										<key>name</key>
										<string>punctuation.separator.continuation.c++</string>
									</dict>
								</array>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
			<key>disabled</key>
			<dict>
				<key>begin</key>
				<string>^\s*#\s*if(n?def)?\b.*$</string>
				<key>comment</key>
				<string>eat nested preprocessor if(def)s</string>
				<key>end</key>
				<string>^\s*#\s*endif\b</string>
				<key>patterns</key>
				<array>
					<dict>
						<key>include</key>
						<string>#disabled</string>
					</dict>
					<dict>
						<key>include</key>
						<string>#pragma-mark</string>
					</dict>
				</array>
			</dict>
			<key>twappidmainenum</key>
			<dict>
				<key>patterns</key>
				<array>
					<dict>
						<key>include</key>
						<string>#comments</string>
					</dict>
					<dict>
						<key>captures</key>
						<dict>
							<key>1</key>
							<dict>
								<key>name</key>
								<string>keyword.control.c</string>
							</dict>
							<key>2</key>
							<dict>
								<key>name</key>
								<string>entity.name.type</string>
							</dict>
							<key>4</key>
							<dict>
								<key>name</key>
								<string>keyword.control.c</string>
							</dict>
						</dict>
						<key>match</key>
						<string>^\s?*(TWEnum|TWMainEnum|TWSchemaMainEnum|TWAPIMainEnum|TWMetricEnum|TWResourceMetricEnum|TWSimulationEnum)\s?*(\S+)\s?*(\:)\s+(TUInt8|TUInt16|TUInt32|TUInt64)(\s?*)(\{)</string>
					</dict>
				</array>
			</dict>
			<key>twappidsubenum</key>
			<dict>
				<key>patterns</key>
				<array>
					<dict>
						<key>begin</key>
						<string>^\s?*(TWSubEnum)\s+(\S+)\s+(\:)\s+(\S+)(\S?*)(\s?*)(\{)</string>
						<key>beginCaptures</key>
						<dict>
							<key>1</key>
							<dict>
								<key>name</key>
								<string>keyword.control.c</string>
							</dict>
							<key>2</key>
							<dict>
								<key>name</key>
								<string>entity.name.type</string>
							</dict>
							<key>4</key>
							<dict>
								<key>name</key>
								<string>entity.name.type</string>
							</dict>
						</dict>
					</dict>
				</array>
			</dict>
			<key>twschemasubenums</key>
			<dict>
				<key>patterns</key>
				<array>
					<dict>
						<key>begin</key>
						<string>^\s?*(TWSchemaSubEnum)\s?*(\S+)\s?*\:\s?*(\S+)\s?*(\{)</string>
						<key>beginCaptures</key>
						<dict>
							<key>1</key>
							<dict>
								<key>name</key>
								<string>keyword.control.c</string>
							</dict>
							<key>2</key>
							<dict>
								<key>name</key>
								<string>entity.name.type</string>
							</dict>
							<key>3</key>
							<dict>
								<key>name</key>
								<string>entity.name.type</string>
							</dict>
						</dict>
					</dict>
				</array>
			</dict>
			<key>twapplayer</key>
			<dict>
				<key>patterns</key>
				<array>
					<dict>
						<key>begin</key>
						<string>^\s?*(TWAppLayer|TWAppTestLayer)\s?*[a-zA-Z]+\s?*(\{)</string>
						<key>beginCaptures</key>
						<dict>
							<key>1</key>
							<dict>
								<key>name</key>
								<string>keyword.control.c</string>
							</dict>
						</dict>
					</dict>
				</array>
			</dict>
			<key>twschemakeywords</key>
			<dict>
				<key>patterns</key>
				<array>
					<dict>
						<key>match</key>
						<string>(TWSchemaObject|TWAppSchema|TWSchemaField|TWSchemaReservedObject|TWDCSection)\b</string>
						<key>captures</key>
						<dict>
							<key>1</key>
							<dict>
								<key>name</key>
								<string>keyword.control.c</string>
							</dict>
						</dict>
					</dict>
				</array>
			</dict>
			<key>twappconstants</key>
			<dict>
				<key>patterns</key>
				<array>
					<dict>
						<key>begin</key>
						<string>^\s?*(TWAppConstants|TWAppOptions)\s+(\S+)\s?*(\{)</string>
						<key>beginCaptures</key>
						<dict>
							<key>1</key>
							<dict>
								<key>name</key>
								<string>keyword.control.c</string>
							</dict>
							<key>2</key>
							<dict>
								<key>name</key>
								<string>entity.name.type</string>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>begin</key>
						<string>^\s?*(TWAppOptionsDisable|TWAppConstantsModify)\s?*(\{)</string>
						<key>beginCaptures</key>
						<dict>
							<key>1</key>
							<dict>
								<key>name</key>
								<string>keyword.control.c</string>
							</dict>
						</dict>
					</dict>
				</array>
			</dict>
			<key>twappfunctions</key>
			<dict>
				<key>patterns</key>
				<array>
					<dict>
						<key>begin</key>
						<string>^\s?*(TWAppAdminTier|TWAppAdminTierFunction|TWAppAdminTestFunction|TWAppClientTierFunction|TWAppClientTier|TWAppClientTestFunction|TWAppServerTier|TWAppServerTierFunction|TWAppServerTestFunction|TWAppPresentationTier|TWAppPresentationTierFunction|TWAppPresentationTestFunction)\s?*(\S+)+\s?*(\{)</string>
						<key>beginCaptures</key>
						<dict>
							<key>1</key>
							<dict>
								<key>name</key>
								<string>keyword.control.c</string>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>include</key>
						<string>#twincludefile</string>
					</dict>
				</array>
				<key>repository</key>
				<dict>
					<key>twincludefile</key>
					<dict>
						<key>match</key>
						<string>^\s?*(TWIncludeFile)\s+\"(\S+)\"\s?*\;</string>
						<key>captures</key>
						<dict>
							<key>1</key>
							<dict>
								<key>name</key>
								<string>keyword.control.c</string>
							</dict>
						</dict>
					</dict>
				</dict>
			</dict>
			<key>twproducts</key>
			<dict>
				<key>patterns</key>
				<array>
					<dict>
						<key>begin</key>
						<string>^\s?*(TWAppProduct|TWAppTest)\s?*[a-zA-Z]+\s?*(\{)</string>
						<key>beginCaptures</key>
						<dict>
							<key>1</key>
							<dict>
								<key>name</key>
								<string>keyword.control.c</string>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>match</key>
						<string>^\s?*(TWBuildVersion)\s?*(\{)</string>
						<key>captures</key>
						<dict>
							<key>1</key>
							<dict>
								<key>name</key>
								<string>keyword.control.c</string>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>match</key>
						<string>^\s?*(TWMajorVersion|TWMinorVersion|TWMaintenanceVersion|TWBuildStageVersion)\s?*=\s?*(\d+)\s?*\;</string>
						<key>captures</key>
						<dict>
							<key>1</key>
							<dict>
								<key>name</key>
								<string>keyword.control.c</string>
							</dict>
						</dict>
					</dict>
				</array>
			</dict>
			<key>twappkeywords</key>
			<dict>
				<key>patterns</key>
				<array>
					<dict>
						<key>match</key>
						<string>\s?*(TWAPIDef|TWAPIHandler|TWAppCode|TWAppToolKit|TWCommandLineTool|TWReqDataSchema|TWRespDataSchema|TWReqContextSchema|TWRespContextSchema)\s?*(\{)</string>
						<key>captures</key>
						<dict>
							<key>1</key>
							<dict>
								<key>name</key>
								<string>keyword.control.c</string>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>match</key>
						<string>\s?*(TWCommandLineTool)\s?*;$</string>
						<key>captures</key>
						<dict>
							<key>1</key>
							<dict>
								<key>name</key>
								<string>keyword.control.c</string>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>match</key>
						<string>^\s?*(\S+)::(\S+)\s+\(\s?*(\S+)::(\S+)\s?*\)\s?*\;</string>
						<key>captures</key>
						<dict>
							<key>1</key>
							<dict>
								<key>name</key>
								<string>entity.name.type</string>
							</dict>
							<key>2</key>
							<dict>
								<key>name</key>
								<string>entity.name.function</string>
							</dict>
							<key>3</key>
							<dict>
								<key>name</key>
								<string>entity.name.type</string>
							</dict>
							<key>4</key>
							<dict>
								<key>name</key>
								<string>variable.other.member</string>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>match</key>
						<string>\s?*(USE)\s?*:\s?* (\S+)</string>
						<key>captures</key>
						<dict>
							<key>1</key>
							<dict>
								<key>name</key>
								<string>keyword.control.c</string>
							</dict>
						</dict>
					</dict>
				</array>
			</dict>
			<key>twlayerkeywords</key>
			<dict>
				<key>patterns</key>
				<array>
					<dict>
						<key>match</key>
						<string>^\s?*(TWDepends|TWUses|TWAppLayer|TWAppTestLayer|TWAppSignalHandler|TWBootstrapAPIHandler)\s+(\w+|\{)</string>
						<key>captures</key>
						<dict>
							<key>1</key>
							<dict>
								<key>name</key>
								<string>keyword.control.c</string>
							</dict>
							<key>2</key>
							<dict>
								<key>name</key>
								<string>entity.name.type</string>
							</dict>
						</dict>
					</dict>
				</array>
			</dict>
			<key>includefile</key>
			<dict>
				<key>begin</key>
				<string>^\s*#\s*(include)\b</string>
				<key>captures</key>
				<dict>
					<key>1</key>
					<dict>
						<key>name</key>
						<string>keyword.control.import.include.c</string>
					</dict>
				</dict>
				<key>end</key>
				<string>(?=(?://|/\*))|$</string>
				<key>name</key>
				<string>meta.preprocessor.c.include</string>
				<key>patterns</key>
				<array>
					<dict>
						<key>match</key>
						<string>(?&gt;\\\s*\n)</string>
						<key>name</key>
						<string>punctuation.separator.continuation.c</string>
					</dict>
					<dict>
						<key>begin</key>
						<string>"</string>
						<key>beginCaptures</key>
						<dict>
							<key>0</key>
							<dict>
								<key>name</key>
								<string>punctuation.definition.string.begin.c</string>
							</dict>
						</dict>
						<key>end</key>
						<string>"</string>
						<key>endCaptures</key>
						<dict>
							<key>0</key>
							<dict>
								<key>name</key>
								<string>punctuation.definition.string.end.c</string>
							</dict>
						</dict>
						<key>name</key>
						<string>string.quoted.double.include.c</string>
					</dict>
				</array>
			</dict>
			<key>twappidoptionskeywords</key>
			<dict>
				<key>patterns</key>
				<array>
					<dict>
						<key>begin</key>
						<string>^\s?*(TWToolOption)\s?*(\S+)\s?*</string>
						<key>beginCaptures</key>
						<dict>
							<key>1</key>
							<dict>
								<key>name</key>
								<string>keyword.control.c</string>
							</dict>
							<key>2</key>
							<dict>
								<key>name</key>
								<string>keyword.control.c</string>
							</dict>
						</dict>
					</dict>
				</array>
			</dict>
			<key>twbuildoptions</key>
			<dict>
				<key>patterns</key>
				<array>
					<dict>
						<key>begin</key>
						<string>^\s?*(TWBuildOption)\s?*(\S+)\s?*(\S+)</string>
						<key>beginCaptures</key>
						<dict>
							<key>1</key>
							<dict>
								<key>name</key>
								<string>keyword.control.c</string>
							</dict>
							<key>2</key>
							<dict>
								<key>name</key>
								<string>keyword.control.c</string>
							</dict>
						</dict>
					</dict>

					<dict>
						<key>begin</key>
						<string>^\s?*(TWName|TWOSList|TWIsBuildHost|TWHostOS|TWVSIntelliSenseEnviron|TWVSIntelliSenseIncludes|TWVSName|TWCMakeName|TWBuildGeneratorName|TWVSIntelliSenseMode|TWInactive|TWIsSimulator|TWSimulatedOS|TWSourceDir|TWTestDir|TWBaseLayer|TWCategory)\b\s?*</string>
						<key>beginCaptures</key>
						<dict>
							<key>1</key>
							<dict>
								<key>name</key>
								<string>keyword.control.c</string>
							</dict>
						</dict>
					</dict>

					<dict>
						<key>begin</key>
						<string>^\s?*(TWBuildOS)\s?*(\S+)\b\s?*</string>
						<key>beginCaptures</key>
						<dict>
							<key>1</key>
							<dict>
								<key>name</key>
								<string>keyword.control.c</string>
							</dict>
						</dict>
					</dict>

					<dict>
						<key>begin</key>
						<string>^\s?*(TWBuildKernel)\s?*(\S+)\b\s?*</string>
						<key>beginCaptures</key>
						<dict>
							<key>1</key>
							<dict>
								<key>name</key>
								<string>keyword.control.c</string>
							</dict>

						</dict>
					</dict>

					<dict>
						<key>begin</key>
						<string>^\s?*(TWBuildArchitecture)\s?*(\S+)\b\s?*</string>
						<key>beginCaptures</key>
						<dict>
							<key>1</key>
							<dict>
								<key>name</key>
								<string>keyword.control.c</string>
							</dict>
						</dict>
					</dict>

					<dict>
						<key>begin</key>
						<string>^\s?*(TWBuildConfiguration)\b\s?*</string>
						<key>beginCaptures</key>
						<dict>
							<key>1</key>
							<dict>
								<key>name</key>
								<string>keyword.control.c</string>
							</dict>
						</dict>
					</dict>
					
					<dict>
						<key>begin</key>
						<string>^\s?*(TWLayer)\s?*(\S+)\b\s?*</string>
						<key>beginCaptures</key>
						<dict>
							<key>1</key>
							<dict>
								<key>name</key>
								<string>keyword.control.c</string>
							</dict>
						</dict>
					</dict>

				</array>
			</dict>


		</dict>
		<key>scopeName</key>
		<string>source.c</string>
		<key>uuid</key>
		<string>25066DC2-6B1D-11D9-9D5B-000D93589AF6</string>
	</dict>
</plist>
